@import url("https://fonts.googleapis.com/css?family=Italiana|Lato:300|Roboto:300");

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html {
  font-size: 125%;
}

body {
  background-color: #201e21;
  color: #fff;
  font-family: 'Italiana', serif;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  max-width: 80%;
  width: 80%;
}

img {
  max-width: 100%;
  width: 100%;
}

.readMore {
  border: solid 2px #faba63;
  color: #fff;
  font-size: 1rem;
  height: 50px;
  margin-top: 100px;
  padding: 8px 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
}

.readMore:hover {
  background: #faba63;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin-top: 0;
}

h2 {
  font-size: 51px;
  text-transform: uppercase;
}

h1 {
  font-size: 122px;
  text-transform: uppercase;
}

h4 {
  font-size: 1rem;
  text-transform: uppercase;
}

h5 {
  font-size: 0.8rem;
  font-weight: 300;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li a {
  color: #fff;
  text-decoration: none;
}

header {
  background-attachment: fixed;
  background-image: url(./images/group-4.png);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.socialNav ul {
  margin: 50px;
}

.burgerMenu {
  display: none;
  float: right;
  margin-top: 10px;
  width: 40px;
}

.title {
  left: 240px;
  position: absolute;
  top: 190px;
  white-space: nowrap;
}

.title p {
  color: #faba63;
  font-family: Lato, serif;
  font-size: 1.7rem;
  font-weight: 100;
  margin: 0 0 0 200px;
}

h1 span {
  display: block;
  margin-left: 9rem;
}

.mainNav {
  font-family: Lato, sans-serif;
  margin-top: 30px;
}

.mainNav li {
  float: left;
  margin-right: 30px;
}

.mainNav li a:hover {
  color: #fff;
}

.socialNav {
  bottom: 20px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 85%;
  transform: translateY(-85%);
}

.socialNav ul li {
  margin: 8px;
}

.handCrafted {
  background: #14171f;
  padding: 110px 0;
}

.handCrafted img {
  float: left;
  width: 25%;
}

.handCrafted h2 {
  margin-top: -5px;
}

.handCraftedText p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px 0 30px;
}

.handCraftedText {
  float: left;
  padding-left: 30px;
  width: 75%;
}

.latestCollection {
  margin: 101px 0 179px;
}

.latestCollection:last-child {
  padding-top: 25px;
}

.latestCollectionGallery {
  text-align: center;
}

.latestCollection h2 {
  margin-bottom: 86px;
  padding: 50px 0 0;
  text-align: center;
}

.latestCollection img {
  width: 30%;
}

.latestCollection img:nth-of-type(2) {
  margin: 0 4.3%;
}

.latestCollection img:last-of-type {
  margin-top: 30px;
}

.middleNavSmallWrapper {
  margin: 0 auto;
  width: 800px;
}

.center {
  margin: auto;
  width: 80%;
}

.middleNav {
  background: #14171f;
  margin: 0 auto;
  padding: 90px 0;
  text-align: center;
}

.middleNavIcon svg {
  color: #faba63;
  font-size: 3rem;
  margin-bottom: 10px;
}

.middleNavIcon {
  float: left;
  width: 33%;
}

.middleNav h3 {
  font-size: 30px;
  text-transform: uppercase;
}

.middleNav i {
  color: #faba63;
  font-size: 60px;
}

.half {
  float: left;
  width: 50%;
}

.sustainableMaterialsText h2 {
  width: 100px;
}

.sustainableMaterialsText,
.mixAndMatchText {
  float: left;
  padding: 125px 100px 50px;
}

.sustainableMaterialsImage {
  float: right;
}

.sustainableMaterialsText p,
.mixAndMatchText p {
  color: #fafafa;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
  max-width: 513px;
  padding-bottom: 20px;
}

.mixAndMatchText p {
  max-width: 555px;
}

footer {
  background: #14171f;
  padding-top: 100px;
}

.footerNav {
  float: left;
  font-family: Lato, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  width: 20%;
}

.subscribe {
  float: left;
  text-align: center;
  width: 60%;
}

input {
  border: 0;
  height: 40px;
  margin-top: 10px;
}

input[type="email"] {
  font-family: Roboto, sans-serif;
  height: 50px;
  padding-left: 33px;
  text-align: left;
  width: 480px;
}

input[type="submit"] {
  background: #000;
  color: #fff;
  font-family: Italiana, sans-serif;
  font-size: 18px;
  height: 50px;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
}

input[type="submit"]:hover {
  background: #fff;
  color: #000;
}

.contact {
  float: left;
  padding-bottom: 100px;
  text-align: right;
  width: 20%;
}

.contact h5 {
  font-family: 'Lato', sans-serif;
}

.copyright {
  background: #000;
  clear: both;
  font-family: Lato, sans-serif;
  font-size: 14px;
  text-align: center;
}

.copyright p {
  margin: 0;
  padding: 20px;
  font-size: 18px;
}

.mainNav a,
.socialNav a:hover,
.footerNav li a:hover {
  color: #faba63;
}

@media (max-width: 1000px) {
  input[type="email"] {
    height: 50px;
    padding-left: 33px;
    text-align: left;
    width: 100%;
  }

  .sustainableMaterialsImage img,
  .mixAndMatchImage img {
    padding-top: 150px;
  }

  .half {
    width: 40%;
  }

  .half span {
    display: none;
  }

  .sustainableMaterialsText,
  .mixAndMatchText {
    float: left;
    padding: 125px 20px 50px;
    width: 60%;
  }

  .phone {
    display: block;
  }

  .handCrafted img {
    margin-top: 9vh;
  }

  input[type="email"] {
    height: 50px;
    width: 100%;
    text-align: left;
    padding-left: 33px;
  }
  .sustainableMaterialsImage img,
  .mixAndMatchImage img {
    padding-top: 150px;
  }
  .half {
    width: 40%;
  }
  .half span {
    display: none;
  }
  .sustainableMaterialsText,
  .mixAndMatchText {
    padding: 125px 20px 50px;
    float: left;
    width: 60%;
  }
  .phone {
    display: block;
  }
  .handCrafted img {
    margin-top: 9vh;
  }
  .subscribe {
    width: 56%;
    margin-right: 4%;
  }
}
@media (max-width: 700px) {
  * {
    float: none;
  }
  h2 {
    font-size: 30px;
    padding-top: 30px;
  }
  h4 {
    font-size: 25px;
  }
  .wrapper {
    width: 90%;
    max-width: 90%;
  }
  header {
    background-image: url(./images/mobileImages/image-1-mobile.png);
    background-size: cover;
  }
  .readMore {
    margin-top: 50px;
    font-size: 25px;
  }
  .mainNav {
    display: none;
  }
  .mainNav li:last-child {
    display: block;
  }
  .title {
    top: 28vh;
    left: 10px;
  }
  .title p {
    font-size: 17.3px;
    margin-left: 105px;
    margin-top: -10px;
  }
  .burgerMenu {
    display: block;
  }
  h1 {
    font-size: 62.4px;
  }
  h1 span {
    margin-left: 5rem;
    margin-top: -20px;
  }
  .handCrafted {
    padding: 50px 0 0 0;
  }
  .handCrafted img,
  .handCraftedText {
    float: none;
  }
  .handCrafted img {
    width: 100%;
  }
  .handCraftedText {
    width: 100%;
    padding: 0 0 50px;
    text-align: center;
  }
  .handCrafted h2 {
    margin-top: 0;
  }
  .handCrafted span {
    display: none;
  }
  .handCrafted p,
  .sustainableMaterialsText p,
  .mixAndMatchText p {
    font-family: "Lato", sans-serif;
    text-align: left;
    font-size: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.45;
    margin: 25px 0 40px;
    width: 100%;
  }
  .sustainableMaterialsImage img,
  .mixAndMatchImage img {
    padding-top: 0;
  }
  .handCrafted h2 {
    text-align: center;
  }
  .socialNav {
    display: none;
  }
  .latestCollection {
    margin: 0 0 50px 0;
  }
  .latestCollection img:nth-of-type(3) {
    display: none;
  }
  .latestCollection img {
    width: 48.3%;
    text-align: center;
  }
  .latestCollection img:nth-of-type(2) {
    margin: 0 0 0 1.4%;
  }
  .middleNav {
    padding: 30px 0 60px;
  }
  .middleNavIcon {
    margin-top: 30px;
    width: 100%;
  }
  .half {
    width: 100%;
  }
  .sustainableMaterialsText,
  .mixAndMatchText {
    padding: 25px 75px 60px;
    text-align: center;
  }
  .sustainableMaterialsText h2 {
    width: 100%;
  }
  footer {
    padding-top: 50px;
  }
  footer h4:first-child {
    margin: 20px 0;
  }
  .footerNav,
  .subscribe,
  .contact,
  input[type="submit"],
  input[type="text"] {
    width: 100%;
    text-align: center;
  }
  .subscribe {
    margin-top: 50px;
  }
  .footerNav ul li {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    float: left;
    margin-right: 20px;
  }
  .contact {
    margin-top: 40px;
    padding-bottom: 50px;
  }
  .contact h4 {
    font-size: 25px;
  }
  .contact h5 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 1px;
  }
  input[type="email"] {
    text-align: center;
    padding: 0;
  }
  h5 span {
    display: inline;
  }
  input[type="submit"] {
    font-size: 25px;
}
}
@media (max-width: 500px){

.handCrafted p, .sustainableMaterialsText p, .mixAndMatchText p {
    max-width: 360px;
}
.sustainableMaterialsText, .mixAndMatchText {
    padding: 25px 25px 60px;
}
}